* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// FONTS
@font-face {
  font-family: "Poppins-Regular";
  src: url("/fonts/Poppins-Regular.ttf")
      format("ttf");
}

//APP
.mainContainer{
  display: flex;
  background-color: grey;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-title{
    display: flex;
    justify-content: center;
    font-family: "Poppins-Regular";
    font-size: 30px;
    padding-top: 40px;
  }
}


//STRUCTURE
.structure__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  background-color: gray;
  padding: 30px 130px;
  width: 940px;
  height: 100vh;
  margin: 0 auto;
}

.second__container{
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 1s ease;
  height: 160px;
  width: 160px;
}

.structure__card{
  position: absolute;
  border: 1px solid black;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transform: rotateY(180deg);
}


.back__card{
  position: absolute;
  background-color: rgb(40, 39, 39);
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.image{
  height: 50%;
  transform: rotate(180deg);
}

.flip{
  transform: rotateX(180deg);
}

.button-play{
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Poppins-Regular";
  margin-top: 30px;
  cursor: pointer;
}
